<div class="container">
    <h2>Sent message using twilio</h2>
    <ul class="list-group">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Type something..." aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="newmessage">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary bg-secondary text-white" type="button" (click)="sendMessage()">send</button>
        </div>
      </div>
    </ul>
  </div>       