/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ngx-toastr/toastr.css";

.custom-list-items{
    /* float: right; */
    width: 60%;
}

.comments-font{
    font-size: smaller;
    font-style: italic;
    color: #8b8f92;
}